
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index Productos</h2>
<p>fgdfgdfg</p><br />
               <br /><br /><br /><br /><br /><br />
                                             <p>srgdgdtg</p>
